.accordion {
	margin: 1em 0 0 0;
	width: 100%;
}
.accordion input {
	display: none;
}
.box {
    color: var(--font-color);
	position: relative;
    height: 6em;
    transition: all .25s ease-in-out;
    border-radius: 1em;
    margin: .5em auto;
	background: var(--background-simple);
}
.box-glass {
	color: var(--font-color);
	position: relative;
	height: 6em;
	transition: all .25s ease-in-out;
	border-radius: 1em;
    margin: .5em auto;
	background: rgba( 255, 255, 255, 0.25 );
	backdrop-filter: blur( .4em );
	-webkit-backdrop-filter: blur( .4em );
}
.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    /* box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24); */
}
header.box {
	background: rgb(173,0,29);
	/* margin-bottom: 1.5em; */
    /* background: linear-gradient(90deg, rgba(173,0,29,1) 0%, rgba(206,17,49,1) 50%, rgba(173,0,29,1) 100%); */
	border-radius: 1em;
    z-index: 100;
	cursor: initial;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
header .box-title {
	margin: 0;
	font-weight: normal;
	font-size: 1.4em;
	color: white;
	cursor: initial;
}
header .glass {
	color: black !important;
}
.box-title {
    font-size: 1.2em;
	width: calc(100% - 40px);
	height: 64px;
	line-height: 64px;
	padding: 0 1.5em;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
    color: var(--font-color);
	width: calc(100% - 40px);
	padding: 1em;
	font-size: 1.2em;
	display: none;
	text-align: center;
	/* Experimental */
	width: 90%;
}
.box-close {
	position: absolute;
	height: 64px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
input:checked + .box {
	height: auto;
	margin: 1.5em 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
input:checked + .box .box-title {
	border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
	display: inline-block;
}
.arrows section .box-title {
	padding-left: 4em;
	width: calc(100% - 64px);
}
.arrows section .box-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 18pt;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
	color: rgba(0,0,0,.54);
}
input:checked + section.box .box-title:before {
	transform: rotate(90deg);
}

@media (max-width: 900px) {
	.accordion {
		margin-top: 0em;
	}
	header.box {
		display: none;
	}
}