.toggle-btn
{
    position: relative;
    width: 145px;
    height: 74px;
    margin: 0 auto;
    border-radius: 40px;
    zoom: 0.3;
    margin: 0 0 20px 0;
}

input[type="checkbox"]
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

/* First toggle btn */

#_1st-toggle-btn span
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,#_1st-toggle-btn span:after
{
    content: '';
    position: absolute;
    top: 8px;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before
{
    background-color: #fff;
    transform: translate(-58px,0px);
    z-index: 1;
}

#_1st-toggle-btn span:after
{
    background-color: #000;
    transform: translate(8px,0px);
    z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span
{
    background-color: #000;
}

#_1st-toggle-btn input[type="checkbox"]:active + span
{
    opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before
{
    background-color: #000;
    transform: translate(56px,-19px);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after
{
    background-color: #fff;
    transform: translate(79px,0px);
}

/* First toggle btn completed */

/* Second toggle btn */

#_2nd-toggle-btn
{
    margin: 0 auto 0 auto;
}

#_2nd-toggle-btn span
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 8px solid #b3b3b3;
    border-color: #b3b3b3;
    overflow: hidden;
    background-color: #fff;
    border-radius: 40px;
    transition: 0.8s ease border-color;
}

#_2nd-toggle-btn span:before
{
    content: '';
    position: absolute;
    top: -8px;
    width: 58px;
    height: 58px;
    border-width: 8px;
    border-style: solid;
    border-color: #b3b3b3;
    margin-left: 0px;
    border-radius: 50%;
    transform: translate(-8px,0px);
    transition: 0.4s ease border-radius, 0.4s ease transform, 0.6s ease width, 0.6s ease margin-left, 0.8s ease border-color;
}

#_2nd-toggle-btn input[type="checkbox"]:active + span:before
{
    width: 80px;
    border-radius: 40px;
}

#_2nd-toggle-btn input[type="checkbox"]:checked:active + span:before
{
    margin-left: -22px;
}

#_2nd-toggle-btn input[type="checkbox"]:checked + span
{
    border-color: #000;
}

#_2nd-toggle-btn input[type="checkbox"]:checked + span:before
{
    border-color: #000;
    transform: translate(63px,0px);
}
/* Second toggle btn completed */